<section class="cart">

  <button onclick="openNav()" id="cart-button" class="btn btn-primary" type="button" data-toggle="collapse" data-target="#cart-content" aria-expanded="false" aria-controls="cart-content">
    <i class="fa-solid fa-cart-arrow-down fa-2x"></i>
  </button>

<div class="collapse" id="cart-content">
  
  <div id="mySidebar" class="sidebar">

      <button onclick="openNav()" id="" class="btn btn-primary" type="button" data-toggle="collapse" data-target="#cart-content" aria-expanded="false" aria-controls="cart-content">
        <i class="fa-solid fa-x"></i>
      </button>
    <h1 style="color: rgb(255, 255, 255);"> Carrito </h1>
    

    <!-- Calls the board component. -->
    <Board/>

    <div id="sidebar-footer">

        <router-link :to="{name:'buy'}">
            <button class="btn btn-primary" type="button">
              Realizar pedido
            </button>
        </router-link>

    </div>
  </div>

  
</div>
</section>

