#cart-content {
    margin: auto;
    width: 50%;
    border: 0;
    padding: 10px;
    text-align: center;
    margin-top: 5%;
}

/* The sidebar menu */
.sidebar {
    height: 100%; /* 100% Full-height */
    width: 25%; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    right: 0;
    background-color: rgb(189, 248, 183); /* Black*/
    opacity: 100%;

    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
  }
  
  /* The sidebar links */
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  #cart-button{
    transition: margin-right .5s; /* If you want a transition effect */
    padding: 10px;
    margin-left: 60%;
  }

  #sidebar-footer{
    margin: auto;
    width: 70%;
    border: 0;
    text-align: center;
    margin-top: 0%;
  }

  .board{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 300px;
    background-color: #818181;
    padding: 15px;

  }

  .card .board{
    padding: 15px 25px;
    background-color: aliceblue;
    cursor: pointer;
    margin-bottom: 15px;
  }

  #cart-button{
    padding: 0;
    color: rgb(10, 53, 6);
    background: none;
    border: 0;
    width: 100%;
    margin-top: 5%;
  }
  #cart-button.i{
    width: 100%;
  }