.product-list-show{
    margin-left: 10%;
    margin-right: 10%;
}

#search-bar-container{
    width: 100%;
    margin: 0%;
}
#search-bar{
    width: 80%;
}
#search-bar-li{
width: 70%;
}

#store-catalog-display{
    display: inline;
}

.product-catalog-title{
margin-top: 5%;
margin-bottom: 5%;
margin-left: 5%;
}


#drag-el{
    background-color: rgb(255, 255, 255);
    color: aliceblue;
    padding: 5px;
    margin: 5%;
    border-color: green;
    border-radius: 5%;
    text-align: center;
}

#product-card-img{
    width: 40%;
}

.card-text{
    color: black;
}

#card-item{
    width: 100%;
    background-color: rgb(255, 255, 255);
}

.product-text{
    color: black;
}

.card{
    display: block;
}

#product-card-img{
    margin-right: 5%;
}