.product-list-show{
    margin-left: 10%;
    margin-right: 10%;
}

#search-bar-container{
    width: 100%;
    margin: 0%;
}
#search-bar{
    width: 80%;
}
#search-addon{
    background-color: rgb(68, 105, 68);
    color: white;
}
#search-bar-li{
width: 70%;
}

#store-catalog-display{
    display: inline;
}

#product-catalog-title{
margin-top: 5%;
margin-bottom: 5%;
margin-left: 5%;
}


#drag-el{
    color: aliceblue;
    padding: 0px;
    margin: 0px;
    border: 0;
}


#product-card-img{
    width: 94%;
    height: 32%;
}

.card-text{
    color: black;

}

#card-item{
    margin-left: 7%;
    background-color: rgb(255, 255, 255);
    border-color: white;
}
#card-item:hover{
    border: 2px solid #507556;
    
}
#card-item:active{
    background-color: #507556;
    color: grey;
}


.product-text{
    color: black;
}

.card{
    display: block;
}

#product-card-img{
    margin-right: 5%;
    width: 256px;
    height: 256px;
}

#store-portrait{
    width: 80%;
    height: 90%;
}
@media (max-width: 1200.98px) { 

    #product-card-img{

        width: 256px;
        height: 256px;
    }
}
@media (max-width: 1000.98px) { 

    #product-card-img{

        width: 220px;
        height: 220px;
    }
}
@media (max-width: 800.98px) { 

    #product-card-img{

        width: 180px;
        height: 180px;
    }
}
@media (max-width: 600.98px) { 

    #product-card-img{

        width: 160px;
        height: 160px;
    }
}



hr.titleSeparatorStoreProduct {
        border: 6px solid green;
        border-radius: 5px;
        width: 100%;
        margin-left: 0;
}
