<section class="product-store-grid">
<div class="row" id="product-catalog-title">
<div class="col-12 col-sm-2 d-flex flex-column align-items-center justify-content-center">
  <h1> {{storeInfo.name}}</h1>
  <hr class="titleSeparatorStoreProduct">

</div>
<div class="col-12 col-sm-10  d-flex flex-column align-items-center justify-content-center">
  <img id="store-portrait" :src="storeInfo.comercial_logo" alt="Card image cap">

</div>

</div>
<div class="row d-flex justify-content-center align-items-center" id="select-and-search-row">
      <div class="col-8">
    
          <div class="input-group rounded" id="search-bar-container">
                <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" id="search-bar" />
                <button class="input-group-text border-0" id="search-addon" v-on:click="searchProducts()" style="background-color:rgba(27,112,13,255);">
                  <i class="fas fa-search"></i>
                </button>
          </div>

      </div>
        <div class="col-2">
      
          <select id="select-orderby-product" v-model="orderBy" v-on:change="orderProducts()" class="form-select" aria-label="Order by select" style="width: 100%;">
            <option selected value="">Ordenar por...</option>
            <option value="asc">Precio Kg Asc.</option>
            <option value="desc">Precio Kg Desc.</option>
          </select>

      </div>
      <div class="col-2" >
      
        <select id="select-filter-product" v-model="filterBy" v-on:change="filterProducts()" class="form-select" aria-label="Filter by select" style="width: 100%;">
          <option selected value="">Filtrar...</option>
          <option v-for="cate in categoriesStore" :key="cate.id" :value="cate.id">{{cate.name}}</option>
        </select>

    </div>
</div>


<div class="product-list-show">
<div class="row mt-5">
    <div v-for="product in products"
          :key="product.id" 
          id="drag-el"
          class="col col-lg-3 col-md-4 col-sm-6 col-12 mb-2"
          draggable="true"
          @dragstart="startDrag($event, product)">

            <!-- V-bind is used in vue to fetch dynamic data into some prop into the component-->
             <!-- <SingleProductCard :product_id="product.id" :product_name="product.name" :price_per_kg="product.price_per_kg" :Category="product.fCategory"></SingleProductCard>-->
            
             <div class="card" id="card-item">
              <img id="product-card-img" v-if="product.product_img" class="rounded mx-auto d-block mt-2" :src="product.product_img" alt="Card image cap" >
              <img id="product-card-img" v-else class="rounded mx-auto d-block mt-2" src="@/assets/product_1.png" alt="Card image cap" >
              
              <div class="card-body p-3 d-flex flex-column justify-content-center align-items-center" style="overflow-x: hidden">
                <p class="card-text"><h6>{{product.name}}</h6></p>
                <p class="card-text" style="overflow: hidden; height: 50px; ">{{product.description}}</p>
                <p class="card-text" style="overflow: hidden; height: 50px; font-size: 120%; color: rgba(27,112,13,255); font-weight: 700; ">Precio Kg: {{(product.price_per_kg).toFixed(2)}}€</p>
              </div>
              
            </div>
            
 
    </div>
 

</div>
</div>
</section>