<section class="cart">


<div class="collapse" id="cart-content">
  
  <div id="mySidebar" class="sidebarCart">

    <div class="row">
      <div class="col-6 text-left">
        <span style="color: rgba(27,112,13,255); font-size: 200%; font-weight: 500; margin-left: 10%;"> Carrito </span>
      </div>
      <div class="col-6 ">
        <button id="button-cart-close-content" class="btn btn-primary" type="button" data-toggle="collapse" data-target="#cart-content" aria-expanded="false" aria-controls="cart-content"
        style="background: none; border: 0; padding: 0; color: black; margin-top: 7%; margin-left: 50%">
          <!-- X image -->
          <i class="fa-solid fa-x fa-2x"></i>
        
        </button>
      </div>
    </div>
    <hr style="height:2px;border-width:0;color:gray;background-color:gray; width: 80%;">

    
    

    <!-- Calls the board component. -->
    <Board ref="cartBoard" @changedProducts="getProductItemsFromBoard()"/>
    <hr style="height:2px;border-width:0;color:gray;background-color:gray; width: 80%;">

    <div id="sidebar-footer">

        <!--<router-link :to="{name:'buy'}">-->
            <button :disabled="!currentProductsBoard" id="button-send-buy-order" class="btn btn-success" type="button" @Click="openBuyDialog()" data-toggle="collapse" data-target="#cart-content">
              Realizar pedido
            </button>
        <!--</router-link>-->

    </div>
  </div>


 
</div>
<BuyResumeModalComponent ref="buyResumeDilog" @updateCart="onChangedProducts()"></BuyResumeModalComponent>
</section>

