.nav-bar {
    
}
#user-menu{
    padding-top: 4px;
    padding-bottom: 4px;
    position:fixed;
    right: 2%;
    background-color: rgb(15, 98, 36);
}
#user-menu-toggle{
    
}

.nav-padding{
    padding-left: 40px;
    padding-bottom: 40px;
}




#sign-up-button{
    /*position: fixed;
    right: 10%;*/

}
#sign-up-button-text{

}

#login-button{
    padding-top: 0px;
    padding-bottom: 0px;
    /*position:fixed;
    right: 2%;*/
    background-color: rgb(40, 117, 40);
    margin-top: 10%;
}

#login-icon{
    padding-right: 10px;
}
#login-text{
    display: inline;
    padding: 0px;
}

#main-navbar{
    max-height: 50px;
}

#fill-space{

}

#user-dropdown{
    width: 200px;
}

.user-dropdown-item{
    display: block;
    margin-left: 0;
    width: 50%;
    color: black;
   
}

.board{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 300px;
    background-color: #818181;
    padding: 15px;

  }

  .card .board{
    padding: 15px 25px;
    background-color: aliceblue;
    cursor: pointer;
    margin-bottom: 15px;
  }

  #profile-link{
    width: 100%;
  }