.stores-list-show{
    margin-left: 10%;
    margin-right: 10%;
}

#store-card{
    margin-bottom: 2%;
}

.product-catalog-header{
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 1%;
}

hr.titleSeparatorStores{
    border: 6px solid green;
    border-radius: 5px;
    width: 40%;
    margin-left: 0;
}