<section class="stores-catalog">
  <div class="product-catalog-header">
  <h1> Comercios disponibles</h1>
  <hr class="titleSeparatorStores"/>
  </div>
  
  <div class="stores-list-show">
  <div class="row">
    <div id="store-card" class="col col-lg-5 col-md-12 col-sm-12 col-12"  v-for="store in stores" >
          

            <!-- V-bind is used in vue to fetch dynamic data into some prop into the component-->
              <SingleStoreCard :store_id="store.id" :store_name="store.name" :store_address="store.address" :store_comercial_logo="store.comercial_logo"></SingleStoreCard>
          
    </div>
  
  </div>
  </div>
  </section>