.stores-list-show{
    margin-left: 10%;
    margin-right: 10%;
}

.store-card{
    margin-bottom: 10%;
    width: 100%;
    height: 90%;
}

.product-catalog-header{
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 1%;
}