<section class="dialog-notification">
  <transition name="dialog-animation">
  <div v-show="dialogActive" class="dialog">
    <transition name="dialog-animation-inner">

    <div v-show="dialogActive" class="dialog-inner">
      <!-- Dialog Content-->
      <slot />
      <i class="fa-solid fa-circle-check fa-8x"></i>
      <button @Click="dialogActive = false">
        <router-link class="close-link" :to="redirectLink">
          Ok
        </router-link>
      </button>

    </div>
  </transition>
  </div>
</transition>
</section>

